Data files: cart.csv , checkout.csv , purchase.csv , visits.csv

# Page Visits Funnel

Cool T-Shirts Inc. has asked you to analyze data on visits to their website. 
Your job is to build a funnel,which is a description of how many people continue to the next step of a multi-step process.

In this case, our funnel is going to describe the following process:

A user visits CoolTShirts.com
A user adds a t-shirt to their cart
A user clicks “checkout”
A user actually purchases a t-shirt

Funnel for Cool T-Shirts Inc.

1.Inspect the DataFrames using print and head:

    - visits lists all of the users who have visited the website
    - cart lists all of the users who have added a t-shirt to their cart
    - checkout lists all of the users who have started the checkout
    - purchase lists all of the users who have purchased a t-shirt

2. Combine visits and cart using a left merge.


3. How long is your merged DataFrame?


4. How many of the timestamps are null for the column cart_time?

    What do these null rows mean?


5. What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float,
by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which 
truncates decimal points.


6. Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, 
but did not proceed to checkout?


7. Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.

    Examine the result using print and head


8. What percentage of users proceeded to checkout, but did not purchase a t-shirt?

9. Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

How might Cool T-Shirts Inc. change their website to fix this problem?

### Average Time to Purchase
10. Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to
    final purchase. 
    Start by adding the following column to your DataFrame:

all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

11. Examine the results using:

    print(all_data.time_to_purchase)

12. Calculate the average time to purchase using the following code:

    print(all_data.time_to_purchase.mean())

## 1.Inspect the DataFrames using print and head:

- visits lists all of the users who have visited the website
- cart lists all of the users who have added a t-shirt to their cart
- checkout lists all of the users who have started the checkout
- purchase lists all of the users who have purchased a t-shirt

In [3]:
import pandas as pd
df = pd.read_csv('cart.csv')
print(df.head())

                                user_id            cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168  2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973  2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663  2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3  2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974  2017-07-26 15:48:00

In [4]:
df_1 = pd.read_csv('checkout.csv')
print(df_1.head())

                                user_id        checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d  2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e  2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d  2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a  2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd  2017-01-08 20:52:00

In [6]:
df_2 = pd.read_csv('purchase.csv')
df_2.head()

                                user_id        purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85  2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac  2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc  2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d  2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867  2017-06-11 11:32:00

In [7]:
df_3 = pd.read_csv('visits.csv')
df_3.head()

                                user_id           visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188  2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab  2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96  2017-02-27 11:25:00

## 2. Combine visits and cart using a left merge.

In [10]:
visit_cart_join = df_3.merge(df,on = 'user_id')
visit_cart_join

,user_id,visit_time,cart_time
0,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
1,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
2,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00
3,1868e912-b38c-4ef0-8824-5665c42288e5,2017-03-17 11:48:00,2017-03-17 11:56:00
4,6d11f38d-03f5-486e-a62d-e05a2e39786b,2017-09-15 16:08:00,2017-09-15 16:30:00
...,...,...,...
343,d2cb350b-2201-4290-b2e0-84a8bf0d6883,2017-08-08 16:05:00,2017-08-08 16:07:00
344,5565358d-c9c2-4491-8299-78f0428521dc,2017-01-11 17:49:00,2017-01-11 18:17:00
345,f46c88d0-2441-40a8-97fe-6841ff6f050d,2017-09-06 08:42:00,2017-09-06 09:02:00
346,1f2eb2e0-7afe-4ebd-acc4-9534d6ad9eed,2017-11-21 17:53:00,2017-11-21 18:13:00
347,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00

## 3. How long is your merged DataFrame?

In [11]:
visit_cart_join.shape

(348, 3)

## 4.  How many of the timestamps are null for the column cart_time?

## What do these null rows mean?

In [16]:
print("Null values of cart time colum before merged = ", df['cart_time'].isnull().sum())
print("Null values of cart time colum after merged = ",visit_cart_join['cart_time'].isnull().sum())

Null values of cart time colum before merged =  0
Null values of cart time colum after merged =  0

## 5. What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?