Problem  1

Convert a 1D array to a 2D array with 2 rows

Input:
```
np.arange(10)

#> array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

Output:


```
#> array([[0, 1, 2, 3, 4],
#>        [5, 6, 7, 8, 9]])
```

In [2]:
import numpy as np

In [5]:
arr2D = np.arange(10).reshape(2,5)
print(arr2D)
type(arr2D)

[[0 1 2 3 4]
 [5 6 7 8 9]]

numpy.ndarray

Problem  2

Extract all odd numbers from arr

```
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

In [6]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
odd_num = arr[arr%2!=0]
odd_num

array([1, 3, 5, 7, 9])

Problem  3

Replace all odd numbers in arr with -1

```
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

Output:


```
#>  array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])
```

In [7]:
np.where(arr%2!=0, -1,arr)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [8]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Problem  4

Replace all odd numbers in arr with -1 without changing arr

Input:

`arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])`

Desired Output:

```
out
#>  array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])
arr
#>  array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

In [9]:
odd_num_1 = np.where(arr%2!=0, -1,arr)
print(odd_num_1)
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]
[0 1 2 3 4 5 6 7 8 9]

Problem  5

Stack arrays a and b vertically

Input



```
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
```


Desired Output:


```
array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])
```

In [10]:
a = np.arange(10).reshape(2, -1)
b = np.repeat(1, 10).reshape(2, -1)
np.vstack((a,b))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

Problem  6

Stack the arrays a and b horizontally.

Input


```
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
```


Desired Output:



```
array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])
```

In [11]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
np.hstack((a,b))

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

Problem  7

Create the following pattern without hardcoding. Use only numpy functions and the below input array a.

Input:



```
a = np.array([1,2,3])
```


Desired Output:



```
#> array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [12]:
a = np.array([1, 2, 3])
b = np.repeat(a, 3)
c = np.tile(b, 4)

print(c)

[1 1 1 2 2 2 3 3 3 1 1 1 2 2 2 3 3 3 1 1 1 2 2 2 3 3 3 1 1 1 2 2 2 3 3 3]

Problem  8

From array a remove all items present in array b

Input:


```
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
```

Desired Output:

```
array([1,2,3,4])
```

In [13]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 6, 7, 8, 9])

result = a[~np.isin(a, b)]

print(result)

[1 2 3 4]

In [14]:
a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 6, 7, 8, 9])

output = np.setdiff1d(a, b)

print(output)

[1 2 3 4]

In [17]:
output2 = np.setdiff1d(b,a)
output2

array([6, 7, 8, 9])

Problem  9

Get the positions where elements of a and b match

Input:



```
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
```


Desired Output:



```
(array([1, 3, 5, 7]),)
```

In [18]:
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])
result = np.where(np.isin(a, b))
print(result)

(array([1, 3, 5, 7], dtype=int64),)

Problem  10

Swap columns 1 and 2 in the array arr.

```
arr = np.arange(9).reshape(3,3)
```

Output:



```
array([[1, 0, 2],
      [4, 3, 5],
      [7, 6, 8]])
```

In [19]:
arr = np.arange(9).reshape(3, 3)
arr[:, [2, 1]] = arr[:, [1, 2]]

print(arr)

[[0 2 1]
 [3 5 4]
 [6 8 7]]

Problem  11

From the array a, replace all values greater than 30 to 30 and less than 10 to 10.

Input:


```
np.random.seed(100)
a = np.random.uniform(1,50, 20)
```

In [20]:
np.random.seed(100)
a = np.random.uniform(1, 150, 20)
result = np.clip(a,10,30)
print(result)

[30.         30.         30.         30.         10.         19.113799
 30.         30.         21.36928186 30.         30.         30.
 28.61390471 17.14815668 30.         30.         30.         26.6192109
 30.         30.        ]

Problem  12

Compute the counts of unique values row-wise.

Input:



```
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))
arr
> array([[ 9,  9,  4,  8,  8,  1,  5,  3,  6,  3],
>        [ 3,  3,  2,  1,  9,  5,  1, 10,  7,  3],
>        [ 5,  2,  6,  4,  5,  5,  4,  8,  2,  2],
>        [ 8,  8,  1,  3, 10, 10,  4,  3,  6,  9],
>        [ 2,  1,  8,  7,  3,  1,  9,  3,  6,  2],
>        [ 9,  2,  6,  5,  3,  9,  4,  6,  1, 10]])
```



Desired Output:



```
> [[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
>  [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
>  [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
>  [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
>  [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
>  [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]]
```

In [33]:
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))
arr
np.unique(arr, axis=1, return_inverse=True)

(array([[ 1,  3,  3,  4,  5,  6,  8,  8,  9,  9],
        [ 5,  3, 10,  2,  1,  7,  1,  9,  3,  3],
        [ 5,  2,  8,  6,  4,  2,  4,  5,  2,  5],
        [10,  9,  3,  1,  4,  6,  3, 10,  8,  8],
        [ 1,  2,  3,  8,  9,  6,  7,  3,  1,  2],
        [ 9, 10,  6,  6,  4,  1,  5,  3,  2,  9]]),
 array([9, 8, 3, 6, 7, 0, 4, 2, 5, 1], dtype=int64))

Problem  13

Compute the one-hot encodings (dummy binary variables for each unique value in the array)

In [34]:
import numpy as np

def one_hot_encoding(arr):
    unique_values = np.unique(arr)
    one_hot_matrix = np.zeros((len(arr), len(unique_values)))
    for i, value in enumerate(arr):
        index = np.where(unique_values == value)[0][0]
        one_hot_matrix[i, index] = 1
    return one_hot_matrix
print(one_hot_encoding([1,2,3]))
print(one_hot_encoding([3,2,1]))

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

Problem  14

Create the ranks for the given numeric array a.

Input:



```
np.random.seed(10)
a = np.random.randint(20, size=10)
print(a)
#> [ 9  4 15  0 17 16 17  8  9  0]
```

Desired output:

```
[4 2 6 0 8 7 9 3 5 1]
```

In [37]:
np.random.seed(10)
a = np.random.randint(20, size=10)
print(a)
sorted_indices = np.argsort(a)
ranks = np.empty_like(sorted_indices)
ranks[sorted_indices] = np.arange(len(a))
ranks = len(a) - 1 - ranks

[ 9  4 15  0 17 16 17  8  9  0]

Problem  15

Create a rank array of the same shape as a given numeric array a.

Input:



```
np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)
#> [[ 9  4 15  0 17]
#>  [16 17  8  9  0]]
```


Desired output:



```
#> [[4 2 6 0 8]
#>  [7 9 3 5 1]]
```

In [39]:
np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)
flat_array = a.flatten()
sorted_indices = np.argsort(flat_array)
ranks = np.empty_like(sorted_indices)
ranks[sorted_indices] = np.arange(len(flat_array))
ranks = len(flat_array) - 1 - ranks

rank_array = ranks.reshape(a.shape)
print(rank_array)

[[ 9  4 15  0 17]
 [16 17  8  9  0]]
[[5 7 3 9 1]
 [2 0 6 4 8]]

Problem  16

Compute the min-by-max for each row for given 2d numpy array

Input:

```
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a
#> array([[9, 9, 4],
#>        [8, 8, 1],
#>        [5, 3, 6],
#>        [3, 3, 3],
#>        [2, 1, 9]])
```

Desired Output:

```
array([ 0.44444444,  0.125     ,  0.5       ,  1.        ,  0.11111111])
```

In [45]:
np.random.seed(100)
a = np.random.randint(1, 10, [5,3])
min_by_max = np.min(a, axis=1) / np.max(a, axis=1)
print(min_by_max)

[0.44444444 0.125      0.5        1.         0.11111111]

Problem  17

Find the duplicate entries (2nd occurrence onwards) in the given numpy array and mark them as True. First time occurrences should be False

Input
```
np.random.seed(100)
a = np.random.randint(0, 5, 10)
print('Array: ', a)
#> Array: [0 0 3 0 2 4 2 2 2 2]
```
Desired Output:
```
#> [False  True False  True False False  True  True  True  True]
```

In [52]:
np.random.seed(100)
a = np.random.randint(0, 5, 10)
print('Array: ', a)

unique, counts = np.unique(a, return_counts=True)
duplicates = np.isin(a, unique[counts > 1])
print('Duplicates: ', duplicates)

Array:  [0 0 3 0 2 4 2 2 2 2]
Duplicates:  [ True  True False  True  True False  True  True  True  True]

Problem  18

Drop all nan values from a 1D numpy array

Input:
```
np.array([1,2,3,np.nan,5,6,7,np.nan])
```
Desired Output:
```
array([ 1.,  2.,  3.,  5.,  6.,  7.])
```

In [58]:
a = np.array([1,2,3, np.nan,5,6,7,np.nan])
not_na = a[~np.isnan(a)]
not_na

array([1., 2., 3., 5., 6., 7.])

Problem 19

Find all the peaks in a 1D numpy array a. Peaks are points surrounded by smaller values on both sides.

Input:
```
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
```
Desired Output:
```
#> array([2, 5])
```

In [3]:
a = np.array([1,3,7,1,2,6,0,1])

def find_peaks(arr):
    peaks = []
    for i in range(1, len(arr) - 1):
        if arr[i] > arr[i - 1] and arr[i] > arr[i + 1]:
            peaks.append(i)
    return np.array(peaks)

a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
peaks = find_peaks(a)
print(peaks)
#> [2, 5]

[2 5]

In [4]:
b = np.array([1, 2, 7, 8, 2, 10, 0, 11])
peaks = find_peaks(b)
print(peaks)

[3 5]

Problem 20

Subtract the 1d array b_1d from the 2d array a_2d, such that each item of b_1d subtracts from respective row of a_2d.


Input
```
a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
b_1d = np.array([1,1,1]

```
Desired Output:
```
#> [[2 2 2]
#>  [2 2 2]
#>  [2 2 2]]
```

In [11]:
a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
b_1d = np.array([1,1,1])

sub_Array = a_2d - b_1d[:, None]
print(sub_Array)

[[2 2 2]
 [3 3 3]
 [4 4 4]]

Problem 21

Find the index of 5th repetition of number 1 in x.

Input:

```
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
```

In [14]:
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
index = np.where(x == 1)[0][4]
index

8

Problem 22

Create a numpy array of length 10, starting from 5 and has a step of 3 between consecutive numbers

In [16]:
np.arange(5,5+3*10,3)

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32])

Problem 23

 From the given 1d array arr, generate a 2d matrix using strides, with a window length of 4 and strides of 2, like [[0,1,2,3], [2,3,4,5], [4,5,6,7]..]

Input:
```
arr = np.arange(15) 
arr
#> array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])
```

Desired Output:
```
#> [[ 0  1  2  3]
#>  [ 2  3  4  5]
#>  [ 4  5  6  7]
#>  [ 6  7  8  9]
#>  [ 8  9 10 11]
#>  [10 11 12 13]]
```