Problem 1

How to import pandas and check the version?

In [ ]:
import pandas as pd

print(pd.__version__)

1.1.3

Problem 2

Create a pandas series from each of the items below: a list, numpy and a dictionary

Input

```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [ ]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
s1 = pd.Series(mylist)
print(s1)

myarr = np.arange(26)
s2 = pd.Series(myarr)
print(s2)


mydict = dict(zip(mylist, myarr))

s3 = pd.Series(mydict)
print(s3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

Problem 3

Convert the series ser into a dataframe with its index as another column on the dataframe.

Input

```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [ ]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict)

df = ser.reset_index()

print(df)

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

Problem 4

Combine ser1 and ser2 to form a dataframe.

Input:

```
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

In [ ]:
import pandas as pd
import numpy as np

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df)

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

Problem 5

Get all items of ser1 and ser2 not common to both.

Input

```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [ ]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

not_common_to_both = ser1[~ser1.isin(ser2)].append(ser2[~ser2.isin(ser1)])
print(not_common_to_both)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

Problem 6

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input

```
ser = pd.Series(np.random.normal(10, 5, 25))

```

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.normal(10, 5, 25))

summary = ser.describe(percentiles=[0.25, 0.5, 0.75])

min_val = summary['min']
q1 = summary['25%']
median = summary['50%']
q3 = summary['75%']
max_val = summary['max']

print("Minimum:", min_val)
print("25th percentile:", q1)
print("Median:", median)
print("75th percentile:", q3)
print("Maximum:", max_val)

Minimum: 3.513226213813737
25th percentile: 6.12860346378741
Median: 9.57500567759903
75th percentile: 11.514300156219909
Maximum: 17.3027910283219

Problem 7

Calculte the frequency counts of each unique value ser.

Input

```
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

freq_counts = ser.value_counts()

print(freq_counts)

h    6
f    4
e    4
b    4
a    4
d    3
c    3
g    2
dtype: int64

Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input

```

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
```

In [ ]:
import pandas as pd
import numpy as np

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

top_two = ser.value_counts().head(2).index
print(top_two)

ser[~ser.isin(top_two)] = 'Other'

print(ser)

Int64Index([4, 1], dtype='int64')
0         4
1         4
2     Other
3         4
4         4
5         1
6         1
7         4
8     Other
9         1
10    Other
11        1
dtype: object

Problem 9

Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input
```
ser = pd.Series(np.random.random(20))
```
Desired Output

```
# First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]
```

In [ ]:
import pandas as pd
import numpy as np


np.random.seed(1)


ser = pd.Series(np.random.random(20))


bins = pd.qcut(ser, q=10, labels=False)
labels = [f'{i+1}th' for i in range(10)]
binned = pd.Series(labels)[bins.values]


print(binned.head())

5     6th
9    10th
0     1th
4     5th
2     3th
dtype: object

Problem 10

Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

```
ser = pd.Series(np.random.randint(1, 10, 35))
```

In [ ]:
import pandas as pd

ser = pd.Series(np.random.randint(1, 10, 35))

df = pd.DataFrame(ser.values.reshape(7, 5))

print(df)

   0  1  2  3  4
0  8  7  2  1  2
1  9  9  4  9  8
2  4  7  6  2  4
3  5  9  2  5  1
4  4  3  1  5  3
5  8  8  9  7  4
6  8  8  5  6  4

Problem 11 

Find the positions of numbers that are multiples of 3 from ser.

Input

```
ser = pd.Series(np.random.randint(1, 10, 7))
```

In [ ]:
ser = pd.Series(np.random.randint(1, 10, 7))
positions = np.where(ser % 3 == 0)
print(positions)

(array([1, 3], dtype=int64),)

Problem 12

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [ ]:
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Stack ser1 and ser2 vertically
df_vertical = pd.concat([ser1, ser2], axis=0)
print(df_vertical)

# Stack ser1 and ser2 horizontally
df_horizontal = pd.concat([ser1, ser2], axis=1)
print(df_horizontal)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Problem 13

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input
```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [ ]:
import pandas as pd

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Stack ser1 and ser2 vertically
df_vertical = pd.concat([ser1, ser2], axis=0)
print(df_vertical)

# Stack ser1 and ser2 horizontally
df_horizontal = pd.concat([ser1, ser2], axis=1)
print(df_horizontal)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Problem 14


Get the day of month, week number, day of year and day of week from ser.

Input
```
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```
Desired output
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [ ]:
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Convert the series to a datetime series
dates = pd.to_datetime(ser)

# Extract the required information
day_of_month = dates.dt.day.tolist()
week_number = dates.dt.week.tolist()
day_num_of_year = dates.dt.dayofyear.tolist()
day_of_week = dates.dt.day_name().tolist()

# Print the results
print("Day of month: ", day_of_month)
print("Week number: ", week_number)
print("Day num of year: ", day_num_of_year)
print("Day of week: ", day_of_week)

Day of month:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

<ipython-input-26-0ff7fedc643a>:10: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  week_number = dates.dt.week.tolist()

Problem 15

From ser, extract words that contain atleast 2 vowels.

Input
```
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
```

Desired Output
```
0     Apple
1    Orange
4     Money
dtype: object
```

In [ ]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
output = ser[ser.str.count('[aeiou]') >= 2]
print(output)

1    Orange
4     Money
dtype: object

Problem 16


Check if df has any missing values.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.isna().any().any()

True

Problem 17

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

Input
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')


missing_counts = df.isna().sum()


max_missing_column = missing_counts.idxmax()

print("Number of missing values in each column:")
print(missing_counts)
print(f"\nColumn with maximum missing values: {max_missing_column}")

Number of missing values in each column:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Column with maximum missing values: Luggage.room

Problem 18

Replace missing values in Min.Price and Max.Price columns with their respective mean.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Calculate the mean of each column
mean_min_price = df['Min.Price'].mean()
mean_max_price = df['Max.Price'].mean()

# Fill missing values with the respective means
df['Min.Price'].fillna(mean_min_price, inplace=True)
df['Max.Price'].fillna(mean_max_price, inplace=True)

Problem 19

In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [ ]:

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'] = df['Min.Price'].apply(lambda x: df['Min.Price'].mean() if pd.isna(x) else x)
df['Max.Price'] = df['Max.Price'].apply(lambda x: df['Max.Price'].median() if pd.isna(x) else x)

Problem 20

Get the first column (a) in df as a dataframe (rather than as a Series).

Input

```
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [ ]:
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[['a']]

    a
0   0
1   5
2  10
3  15

Problem 21

1 - In df, interchange columns 'a' and 'c'.

2 - Create a generic function to interchange two columns, without hardcoding column names.

3 - Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

Input

```

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [ ]:
#1 - In df, interchange columns 'a' and 'c'.

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[['c', 'b', 'a', 'd', 'e']]


#2 - Create a generic function to interchange two columns, without hardcoding column names.


df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def swap_columns(df, col1, col2):
    colnames = df.columns.tolist()
    i1, i2 = colnames.index(col1), colnames.index(col2)
    colnames[i2], colnames[i1] = colnames[i1], colnames[i2]
    return df[colnames]

swap_columns(df, 'a', 'c')

#3- Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.


df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[sorted(df.columns, reverse=True)]

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

Problem 22

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.iloc[::20, [0, 2, 4]]

   Manufacturer     Type  Price
0         Acura    Small   15.9
20     Chrysler  Compact   15.8
40        Honda   Sporty   19.8
60      Mercury  Midsize   14.9
80       Subaru    Small   10.9

Problem 23 

Find the row position of the 5th largest value of column 'a' in df.

Input

```
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
```

In [ ]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

fifth_largest_pos = df['a'].argsort()[::-1][4]
print(fifth_largest_pos)

9

Problem 24 

In ser, find the position of the 2nd largest value greater than the mean.

Input
```
ser = pd.Series(np.random.randint(1, 100, 15))
```

In [ ]:
ser = pd.Series(np.random.randint(1, 100, 15))

mean = ser.mean()

new_ser = ser[ser > mean]

sorted_ser = new_ser.sort_values(ascending=False)

pos = sorted_ser.index[1]

print("Position of the 2nd largest value greater than the mean:", pos)

Position of the 2nd largest value greater than the mean: 7

Problem 25


Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

Input

```
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
```
Output

```
   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
```

In [ ]:
import pandas as pd

df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))


one_hot = pd.get_dummies(df['a'])

result = pd.concat([one_hot, df.drop('a', axis=1)], axis=1)


print(result)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24