##### Assignment: Pandas
##### Teacher: Sir Nasir Hussain
##### Submitted by: Muhamamd Hassan

Problem 1

How to import pandas and check the version?

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'1.4.4'

Problem 2

Create a pandas series from each of the items below: a list, numpy and a dictionary

Input

```
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [3]:
mylist_series = pd.Series(mylist)
mylist_series

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [4]:
myarr_series = pd.Series(myarr)
myarr_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [5]:
mydic_series = pd.Series(mydict)
mydic_series

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

Problem 3

Convert the series ser into a dataframe with its index as another column on the dataframe.

Input

```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [6]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = pd.DataFrame(ser)
df

    0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

Problem 4

Combine ser1 and ser2 to form a dataframe.

Input:

```
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

In [7]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df = pd.DataFrame(ser1,ser2)
df

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

Problem 5

Get all items of ser1 and ser2 not common to both.

Input

```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

set1 = set(ser1)
set2 = set(ser2)

result = pd.Series(list(set1.symmetric_difference(set2)))

print(result)

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

Problem 6

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input

```
ser = pd.Series(np.random.normal(10, 5, 25))

```

In [9]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser.describe()

count    25.000000
mean      8.596560
std       5.041582
min       0.583049
25%       5.070811
50%       8.400210
75%      12.442044
max      20.592932
dtype: float64

Problem 7

Calculte the frequency counts of each unique value ser.

Input

```
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

In [10]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

e    7
d    5
a    4
c    4
f    4
h    3
b    2
g    1
dtype: int64

Problem 8

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

Input

```

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
```

In [11]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser.value_counts()[:2]

4    4
2    3
dtype: int64

Problem 9

Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input
```
ser = pd.Series(np.random.random(20))
```
Desired Output

```
# First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]
```

In [12]:
import numpy as np

ser = pd.Series(np.random.random(20))

# Bin the series into deciles and replace values with bin names
bins = pd.qcut(ser, q=10, labels=[f"{i}th" for i in range(1, 11)])
bins = bins.astype("category")

# Print the first 5 items of the output series
print(bins.head())

0    7th
1    4th
2    2th
3    6th
4    9th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

Problem 10

Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

```
ser = pd.Series(np.random.randint(1, 10, 35))
```

In [13]:
ser = pd.Series(np.random.randint(1, 10, 35))

arr = ser.values.reshape(7,5)
df = pd.DataFrame(arr)
df

   0  1  2  3  4
0  7  2  3  9  4
1  3  3  7  8  7
2  8  1  5  9  2
3  8  6  8  2  3
4  3  9  7  8  4
5  3  3  3  6  4
6  8  7  1  8  3

Problem 11 

Find the positions of numbers that are multiples of 3 from ser.

Input

```
ser = pd.Series(np.random.randint(1, 10, 7))
```

In [14]:
ser1 = pd.Series(np.random.randint(1,10,7))
print(ser1)

multiples_of_3 = [j for j in ser1 if j%3==0]
print(multiples_of_3)

0    3
1    4
2    6
3    1
4    3
5    7
6    1
dtype: int32
[3, 6, 3]

In [16]:
# Find the positions of multiples of 3
pos = ser1.index[ser1 % 3 == 0]
# Print the positions
print(pos)

Int64Index([0, 2, 4], dtype='int64')

Problem 12

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [17]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
comb_ser = np.stack((ser1,ser2))
comb_ser
df = pd.DataFrame(comb_ser)
df

   0  1  2  3  4
0  0  1  2  3  4
1  a  b  c  d  e

Problem 13

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input
```
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [19]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ver_series = np.vstack((ser1, ser2))
print(ver_series)

print("Horizontally")

hor_stack = np.hstack((ser1, ser2))
print(hor_stack)

[[0 1 2 3 4]
 ['a' 'b' 'c' 'd' 'e']]
Horizontally
[0 1 2 3 4 'a' 'b' 'c' 'd' 'e']

Problem 14


Get the day of month, week number, day of year and day of week from ser.

Input
```
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```
Desired output
```
Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day num of year:  [1, 33, 63, 94, 125, 157]
Day of week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
```

In [20]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Convert the strings to datetime objects
dt_ser = pd.to_datetime(ser)

# Extract the required information
day_of_month = dt_ser.dt.day.tolist()
week_of_month = dt_ser.dt.week.tolist()
day_of_year = dt_ser.dt.dayofyear.tolist()
day_of_week = dt_ser.dt.day_name().tolist()
year = dt_ser.dt.year.tolist()

# Print the results
print("Date: ", day_of_month)
print("Week Number: ", week_of_month)
print("Day Number of Year: ", day_of_year)
print("Day of Week: ", day_of_week)
print("Year: ", year)

Date:  [1, 2, 3, 4, 5, 6]
Week Number:  [53, 5, 9, 14, 19, 23]
Day Number of Year:  [1, 33, 63, 94, 125, 157]
Day of Week:  ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']
Year:  [2010, 2011, 2012, 2013, 2014, 2015]

C:\Users\Muhammad Hassan\AppData\Local\Temp\ipykernel_9912\75932876.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  week_of_month = dt_ser.dt.week.tolist()

Problem 15

From ser, extract words that contain atleast 2 vowels.

Input
```
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
```

Desired Output
```
0     Apple
1    Orange
4     Money
dtype: object
```

In [21]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
#by applying lambda functions
contains_two_vowels = lambda word: sum([1 for char in word if char in 'aeiouAEIOU']) >= 2
# Use the apply() method and the lambda function to filter the words
result = ser[ser.apply(contains_two_vowels)]
result

0     Apple
1    Orange
4     Money
dtype: object

Problem 16


Check if df has any missing values.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.isnull()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Problem 17

Count the number of missing values in each column of df. Which column has the maximum number of missing values?

Input
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [23]:
df.isnull().sum().sort_values(ascending=False)[:10]

Luggage.room          19
MPG.city               9
Fuel.tank.capacity     8
DriveTrain             7
Horsepower             7
Min.Price              7
Weight                 7
Rev.per.mile           6
Width                  6
AirBags                6
dtype: int64

Problem 18

Replace missing values in Min.Price and Max.Price columns with their respective mean.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# mean_of_price = df['Min.Price'].mean()
df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)
df['Max.Price'].fillna(df['Max.Price'].mean(), inplace=True)
# data.Year.fillna(data.Year.mode(),inplace=True)
df.isnull().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              0
Price                  2
Max.Price              0
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Problem 19

In df, use apply method to replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median.

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

```

In [25]:
df.fillna({
    "Max.Price": df['Max.Price'].median(),
    "Min.Price": df['Min.Price'].mean()
})
df.isnull().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              0
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Problem 20

Get the first column (a) in df as a dataframe (rather than as a Series).

Input

```
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [27]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[['a']]

    a
0   0
1   5
2  10
3  15

Problem 21

1 - In df, interchange columns 'a' and 'c'.

2 - Create a generic function to interchange two columns, without hardcoding column names.

3 - Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

Input

```

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [28]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df[['c','b','a','d','e']]

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [29]:
def interchange_columns(df, col1, col2):
    cols = list(df.columns)
    i1, i2 = cols.index(col1), cols.index(col2)
    cols[i1], cols[i2] = cols[i2], cols[i1]
    return df[cols]

# Example usage:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = interchange_columns(df, 'a', 'c')
print(df)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

Problem 22

From df, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).

Input

```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
filtered_df = df.iloc[::20, [2, 3, 4]]

print(filtered_df)

       Type  Min.Price  Price
0     Small       12.9   15.9
20  Compact       14.5   15.8
40   Sporty       17.0   19.8
60  Midsize       14.9   14.9
80    Small       10.5   10.9

Problem 23 

Find the row position of the 5th largest value of column 'a' in df.

Input

```
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
```

In [86]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))


position_5th = df.nlargest(5, 'a')['a'].iloc[-1:].index[0]
print("Row position of 5th largest value in column 'a':", position_5th)

Row position of 5th largest value in column 'a': 4

Problem 24 

In ser, find the position of the 2nd largest value greater than the mean.

Input
```
ser = pd.Series(np.random.randint(1, 100, 15))
```

In [87]:
ser = pd.Series(np.random.randint(1, 100, 15))

mean = ser.mean()
s = ser[ser > mean].nlargest(2)
pos = s.index[-1]

print("Position of the 2nd largest value greater than the mean:", pos)

Position of the 2nd largest value greater than the mean: 5

Problem 25


Get one-hot encodings for column 'a' in the dataframe df and append it as columns.

Input

```
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
```
Output

```
   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24
```

In [90]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))


one_hot = pd.get_dummies(df['a'])

df = pd.concat([one_hot, df.drop('a', axis=1)], axis=1)

print(df)

   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

### Finished (16/02/2023)