# Practice Assignment :: 01

## How to import pandas and check the version?

## import useful libraries

## How to create a series from a list, numpy array and dict?

## How to convert the index of a series into a column of a dataframe?

## hint::
### Convert the series ser into a dataframe with its index as another column on the dataframe.

# How to combine many series to form a dataframe?

# How to calculate the number of characters in each word in a series?

# How to filter valid emails from a series?

## Desired Output::
1    rameses@egypt.com

2            matt@t.com

3    narendra@modi.com

# How to replace missing spaces in a string with the least frequent character?

## Input::
###  my_str = 'dbc deb abed gade'
## Desired Output::
### 'dbccdebcabedcgade'  # least frequent is 'c'

# How to swap two rows of a dataframe?

# How to get the positions where values of two columns match?

# How to replace both the diagonals of dataframe with 0?

# How to get the particular group of a groupby dataframe by key?

### This is a question related to understanding of grouped dataframe.

# Which column contains the highest number of row-wise maximum values?

### Obtain the column name with the highest number of row-wise maximumâ€™s in df.